.our-process_why-build-website {
  background-color: #ffffff;
}

.our-process_why-build-website_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.our-process_why_list {
  list-style: none;
}

.our-process_why_item {

}

.our-process_things_list {
  list-style: none;
  display: flex;
}

.our-process_things_item {

}

.our-process_things_img {

}

.our-process_things_p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;

  color: #313131;
}


.our-process_process {
  background: #313131 url("../img/our-process-bg2.jpg") no-repeat center;
  background-size: cover;
}
.our-process_process_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}