.services_sales-funnel {
  background: #313131 url("../img/services-sf-bg.jpg") no-repeat center;
  background-size: cover;
}
.services_sales-funnel_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}
.services_sales-funnel_img1 {

}
.services_sales-funnel_img2 {

}