.services_conversion {
  background-color: #ffffff;
}
.services_conversion_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}
.services_conversion_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services_conversion_item {

}
.services_conversion_item_container {
  width: 205px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.services_conversion_item_img {

}
.services_conversion_item_text {
  padding: 20px 15px;
  text-align: center;
}

.services_conversion_container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px ;
}

.services_conversion_img {

}

.services_conversion_text {
  max-width: 510px;
  width: 100%;
  padding-left: 100px;
}

@media screen and (max-width: 1050px) {
  .services_conversion_text {
    padding-left: 30px;
  }
}

@media screen and (max-width: 700px) {
  .services_conversion_text {
    padding-left: 0;
    max-width: none;
  }
  .services_conversion_container {
    flex-direction: column;
  }
  .services_conversion_img {
    padding-bottom: 30px;
  }
}

.header3-no50 {
  padding-top: 0;
}