.home_request-form_wrapper {
  background: #4b869f url("../img/Form-bg1920.jpg") no-repeat center;
  background-size: cover;
  color: #FFEC42;
}
.home_request-form {
  max-width: 1050px;
  min-height: 220px;
  height: auto;
  margin: 0 auto;
}

.home_request-form__description {
  text-align: center;
  padding-top: 28px;
}

.home_request-form__header {
  font-family: Verdana, sans-serif;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 14px;
}

.home_request-form__input-name, .home_request-form__input-email {
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  outline: none;
  border: 2px solid #FFFFFF;
  padding-left: 42px;
  padding-right: 11px;
  line-height: normal;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 233px;
  max-width: 233px;
}

.home_request-form_input-group {
  padding-top: 26px;
  display: flex;
  justify-content: center;
  max-width: 1050px;
  width: 100%;
}

.home_request-form__input-name {
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

.home_request-form__input-email {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  margin-left: 20px;
  margin-right: 30px;
}

.home_request-form__input-name:focus, .home_request-form__input-email:focus {
  border: 2px solid #B4EC51;
  outline: none;
}

.home_request-form__input-button {
  background-color: #313131;
  font-size: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 24.5px;
  padding: 8px 45px;
  border: 0;
  outline: none;
  transition: 0.3s;
}

.home_request-form__input-button:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

.home_request-form__input-button:active {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .home_request-form_input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_request-form__input-name, .home_request-form__input-email {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .home_request-form__input-button {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}