

.home_services, .home_why-st7, .about-us_dm-landscape, .about-us_our-team,
.about-us_why-us, .our-process_why-build-website, .services_description,
.services_conversion, .services_sem, .services_seo2, .services_design {
  position: relative;
  overflow-x: hidden;
}

.home_services_shape-1 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: calc(50% - 525px - 210px);
  top: 150px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.home_services_shape-2 {
  position: absolute;
  width: 199px;
  height: 199px;
  left: calc(50% - 525px - 225px);
  top: 122px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.home_services_shape-3 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: calc(50% + 525px + 25px);
  top: 300px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}
.home_services_shape-4 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: calc(50% + 525px + 30px);
  top: 405px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.home_why-st7_shape-1 {
  position: absolute;
  width: 260px;
  height: 260px;
  left: calc(50% - 525px - 250px);
  top: 194px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(45.05deg);
}

.home_why-st7_shape-2 {
  position: absolute;
  width: 325px;
  height: 325px;
  left: calc(50% - 525px - 280px);
  top: 110px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}

.home_why-st7_shape-3 {
  position: absolute;
  width: 180px;
  height: 180px;
  left: calc(50% + 525px + 130px);
  top: 300px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 50px;
  transform: rotate(17.46deg);
}

.home_why-st7_shape-4 {
  position: absolute;
  width: 205px;
  height: 205px;
  left: calc(50% + 525px + 110px);
  top: 335px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 50px;
  transform: rotate(33.54deg);
}

.about-us_dm-landscape_shape-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 525px - 200px);
  top: 345px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 60px;
  transform: rotate(17.46deg);
}
.about-us_dm-landscape_shape-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  left: calc(50% - 525px - 222px);
  top: 243px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.about-us_our-team_shape-1 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: calc(50% - 525px - 210px);
  top: 570px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.about-us_our-team_shape-2 {
  position: absolute;
  width: 198px;
  height: 198px;
  left: calc(50% - 525px - 217px);
  top: 540px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.about-us_why-us_shape-1 {
  position: absolute;
  width: 222px;
  height: 222px;
  left: calc(50% - 525px - 338px);
  top: 445px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 90px;
  transform: rotate(45.05deg);
}

.about-us_why-us_shape-2 {
  position: absolute;
  width: 243px;
  height: 243px;
  left: calc(50% - 525px - 290px);
  top: 530px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}

.about-us_why-us_shape-3 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: calc(50% + 525px - 7px);
  top: 100px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.about-us_why-us_shape-4 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: calc(50% + 525px - 3px);
  top: 190px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.our-process_why-build-website_shape-1 {
  position: absolute;
  width: 172px;
  height: 172px;
  left: calc(50% - 525px - 260px);
  top: 263px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 60px;
  transform: rotate(17.46deg);
}

.our-process_why-build-website_shape-2 {
  position: absolute;
  width: 249px;
  height: 249px;
  left: calc(50% - 525px - 277px);
  top: 237px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.services_description_shape-1 {
  position: absolute;
  width: 137px;
  height: 137px;
  left: calc(50% - 525px - 201px);
  top: 218px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 40px;
  transform: rotate(17.46deg);
}

.services_description_shape-2 {
  position: absolute;
  width: 219px;
  height: 219px;
  left: calc(50% - 525px - 218px);
  top: 203px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 50px;
  transform: rotate(33.54deg);
}

.services_conversion_shape-1 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: calc(50% - 525px - 245px);
  top: 310px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.services_conversion_shape-2 {
  position: absolute;
  width: 198px;
  height: 198px;
  left: calc(50% - 525px - 253px);
  top: 280px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}
.services_conversion_shape-3 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: calc(50% + 525px + 5px);
  top: 175px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}
.services_conversion_shape-4 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: calc(50% + 525px - 6px);
  top: 71px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.services_sem_shape-1 {
  position: absolute;
  width: 222px;
  height: 222px;
  left: calc(50% - 525px - 293px);
  top: 158px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 90px;
  transform: rotate(45.05deg);
}
.services_sem_shape-2 {
  position: absolute;
  width: 243px;
  height: 243px;
  left: calc(50% - 525px - 248px);
  top: 215px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}
.services_sem_shape-3 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: calc(50% + 525px + 5px);
  top: 405px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}
.services_sem_shape-4 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: calc(50% + 525px + 11px);
  top: 500px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.services_seo2_shape-1 {
  position: absolute;
  width: 259px;
  height: 259px;
  left: calc(50% - 525px - 237px);
  top: 192px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(45.05deg);
}

.services_seo2_shape-2 {
  position: absolute;
  width: 325px;
  height: 325px;
  left: calc(50% - 525px - 273px);
  top: 107px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}
.services_seo2_shape-3 {
  position: absolute;
  width: 180px;
  height: 180px;
  left: calc(50% + 525px + 185px);
  top: 290px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 50px;
  transform: rotate(17.46deg);
}
.services_seo2_shape-4 {
  position: absolute;
  width: 205px;
  height: 205px;
  left: calc(50% + 525px + 160px);
  top: 325px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 50px;
  transform: rotate(33.54deg);
}

.services_design_shape-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 525px - 198px);
  top: 182px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 60px;
  transform: rotate(17.46deg);
}
.services_design_shape-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  left: calc(50% - 525px - 215px);
  top: 81px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}