

.home_services_wrapper, .home_why-st7_wrapper, .about-us_dm-landscape_wrapper, .about-us_our-team_wrapper,
.about-us_why-us_wrapper, .our-process_why-build-website_wrapper, .services_description_wrapper,
.services_conversion_wrapper, .services_sem_wrapper, .services_seo2_wrapper, .services_design_wrapper {
  position: relative;
}

.home_services_shape-1 {
  position: absolute;
  width: 154.62px;
  height: 154.62px;
  left: -210.74px;
  top: 150px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.home_services_shape-2 {
  position: absolute;
  width: 199px;
  height: 199px;
  left: -225px;
  top: 122px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}
.home_services_shape-3 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: 1075px;
  top: 300px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}
.home_services_shape-4 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: 1080px;
  top: 405px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.home_why-st7_shape-1 {
  position: absolute;
  width: 260px;
  height: 260px;
  left: -250px;
  top: 194px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(45.05deg);
}

.home_why-st7_shape-2 {
  position: absolute;
  width: 325px;
  height: 325px;
  left: -280px;
  top: 110px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}

.home_why-st7_shape-3 {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 1180px;
  top: 300px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 50px;
  transform: rotate(17.46deg);
}

.home_why-st7_shape-4 {
  position: absolute;
  width: 205px;
  height: 205px;
  left: 1160px;
  top: 335px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 50px;
  transform: rotate(33.54deg);
}

.about-us_dm-landscape_shape-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -180px;
  top: 212px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 60px;
  transform: rotate(17.46deg);
}
.about-us_dm-landscape_shape-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  left: -192px;
  top: 120px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.about-us_our-team_shape-1 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: -203px;
  top: 570px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.about-us_our-team_shape-2 {
  position: absolute;
  width: 198px;
  height: 198px;
  left: -210px;
  top: 540px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.about-us_why-us_shape-1 {
  position: absolute;
  width: 222px;
  height: 222px;
  left: -318px;
  top: 445px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 90px;
  transform: rotate(45.05deg);
}

.about-us_why-us_shape-2 {
  position: absolute;
  width: 243px;
  height: 243px;
  left: -270px;
  top: 530px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}

.about-us_why-us_shape-3 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: 1073px;
  top: 80px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.about-us_why-us_shape-4 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: 1077px;
  top: 170px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.our-process_why-build-website_shape-1 {
  position: absolute;
  width: 172px;
  height: 172px;
  left: -230px;
  top: 140px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 60px;
  transform: rotate(17.46deg);
}

.our-process_why-build-website_shape-2 {
  position: absolute;
  width: 249px;
  height: 249px;
  left: -247px;
  top: 114px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.services_description_shape-1 {
  position: absolute;
  width: 137px;
  height: 137px;
  left: -176px;
  top: 95px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 40px;
  transform: rotate(17.46deg);
}

.services_description_shape-2 {
  position: absolute;
  width: 219px;
  height: 219px;
  left: -193px;
  top: 80px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 50px;
  transform: rotate(33.54deg);
}

.services_conversion_shape-1 {
  position: absolute;
  width: 154px;
  height: 154px;
  left: -136px;
  top: 310px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}

.services_conversion_shape-2 {
  position: absolute;
  width: 198px;
  height: 198px;
  left: -144px;
  top: 280px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}
.services_conversion_shape-3 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: 997px;
  top: 175px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}
.services_conversion_shape-4 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: 986px;
  top: 71px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.services_sem_shape-1 {
  position: absolute;
  width: 222px;
  height: 222px;
  left: -273px;
  top: 158px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 90px;
  transform: rotate(45.05deg);
}
.services_sem_shape-2 {
  position: absolute;
  width: 243px;
  height: 243px;
  left: -228px;
  top: 215px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}
.services_sem_shape-3 {
  position: absolute;
  width: 279px;
  height: 279px;
  left: 1075px;
  top: 405px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(17.46deg);
}
.services_sem_shape-4 {
  position: absolute;
  width: 359px;
  height: 359px;
  left: 1081px;
  top: 500px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}

.services_seo2_shape-1 {
  position: absolute;
  width: 259px;
  height: 259px;
  left: -212px;
  top: 192px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(45.05deg);
}

.services_seo2_shape-2 {
  position: absolute;
  width: 325px;
  height: 325px;
  left: -248px;
  top: 107px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 80px;
  transform: rotate(-9.04deg);
}
.services_seo2_shape-3 {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 1235px;
  top: 290px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 50px;
  transform: rotate(17.46deg);
}
.services_seo2_shape-4 {
  position: absolute;
  width: 205px;
  height: 205px;
  left: 1210px;
  top: 325px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 50px;
  transform: rotate(33.54deg);
}

.services_design_shape-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -164px;
  top: 182px;
  background: rgba(178, 235, 80, 0.3);
  border-radius: 60px;
  transform: rotate(17.46deg);
}
.services_design_shape-2 {
  position: absolute;
  width: 250px;
  height: 250px;
  left: -181px;
  top: 81px;
  background: rgba(178, 235, 80, 0.2);
  border-radius: 80px;
  transform: rotate(33.54deg);
}