.home_why-st7 {
  background-color: #fff;
}
.home_why-st7_wrapper {
  max-width: 1050px;
  //min-height: 673px;
  height: auto;
  padding: 0 30px;
  margin: 0 auto;
}

.home_why-st7__header {
  padding-top: 100px;
  padding-bottom: 35px;
}

.home_why-st7_content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding:  0 90px;
}

.home_why-st7_text {
  max-width: 510px;

}

.home_why-st7_text p{
  padding-top: 15px;
  padding-bottom: 15px;

}

.home_why-st7_pic {
  max-width: 234px;
  margin: auto 0;
}


.home_why-st7__button {
  max-width: 260px;
  margin: 37px auto 100px;
  padding: 18px 17px;

}

@media screen and (max-width: 1110px) {

  .home_why-st7_content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }
  .home_why-st7_text {
    //width: 100%;
    max-width: 100%;
  }
  .home_why-st7_pic {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home_why-st7_pic img{
    max-width: 100%;
  }

}