.button-gradient {
  display: block;
  background: linear-gradient(90deg, #FFD230 0%, #FF9921 100%);
  box-shadow: 0 10px 15px rgba(255, 245, 0, 0.3);
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #313131;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 18px 47px;
  transition: right 1.5s linear 0.5s;
  max-width: 320px;
  margin: 0 auto;
}

.button-gradient:hover {
  background: #FFD230;
}

.button-gradient:active {
  background: #FFD230;
}

.button-transparent {
  display: block;
  background-color: transparent;
  border: 1px solid #B4EC51;
  border-radius: 24.5px;
  box-shadow: 0 0 12px rgba(126, 211, 33, 0.112687);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 45px;
  margin: auto 0;
  transition: 0.3s;
}

.button-transparent:hover {
  background: #B4EC51;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.button-transparent:active {
  background: #B4EC51;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.home_request-form__input-button {
  background-color: #313131;
  font-size: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 24.5px;
  padding: 8px 45px;
  border: 0;
  outline: none;
  transition: 0.3s;
}

.home_request-form__input-button:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

.home_request-form__input-button:active {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

.button_upper-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #B4EC51;
}

.button_lower-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.typo-h1 {
  font-family: Verdana, sans-serif;
  font-size: 45px;
  line-height: normal;
  text-align: center;
  font-weight: 500;
  color: #E7E7E7;
  text-shadow: 0 40px 40px rgba(26, 11, 52, 0.5);
}

.typo-h2 {
  font-family: Verdana, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.typo-h3 {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}

.typo-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.typo_p-bold {
  font-weight: 500;
}

.typo_h-bold {
  font-weight: 700;
}

.typo_dark-color {
  color: #313131;
}

.typo_white-color {
  color: #ffffff;
}

.typo_green-color {
  color: #B4EC51;
}

.typo_orange-color {
  color: #FFB321;
}

.not-found-404 {
  background: #313131 url("../img/404-bg.jpg") no-repeat center;
  background-size: cover;
}

.not-found-404_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-404_img {
  max-width: 489px;
  width: 100%;
}

.not-found-404_h1 {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #B4EC51;
  margin-top: 50px;
  margin-bottom: 20px;
}

.not-found-404_p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.not-found-404_button {
  margin-top: 50px;
}

.about-us_dm-landscape {
  background-color: #ffffff;
}

.about-us_dm-landscape_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.about-us_our-company {
  background-color: #313131;
}

.about-us_our-company_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.about-us_our-company_managing-partners-item {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: normal;
}

.about-us_our-team {
  background-color: #ffffff;
}

.about-us_our-team_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.about-us_our-team_head-team-list {
  list-style: none;
  display: flex;
}

.about-us_our-team_head-team-h {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #313131;
}

.about-us_our-team_head-team-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #313131;
}

.about-us_our-team_team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us_our-team_team-item {
  width: 210px;
  height: 210px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}

.about-us_our-team_team-item_green {
  background: #B4EC51;
}

.about-us_our-team_team-item_orange {
  background: #FFB321;
}

.about-us_our-team_team-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #313131;
}

.about-us_our-team_final-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #313131;
}

.about-us_our-services {
  background-color: #313131;
}

.about-us_our-services_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.about-us_our-services_2-things {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.about-us_our-services_services-list {
  list-style: none;
}

.about-us_our-services_services-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.about-us_our-services_services-item-bullet {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #B4EC51;
  padding-right: 16px;
}

.about-us_our-services_last-word {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.about-us_why-us {
  background-color: #ffffff;
}

.about-us_why-us_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.about-us_why-us_steps-list {
  list-style: none;
  display: flex;
}

.about-us_why-us_steps-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #313131;
}

.footer-lower__links-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 230px;
  width: 100%;
}

.footer-lower__link:first-child {
  padding-right: 30px;
}

.footer {
  background-color: #313131;
  background-size: cover;
}

.footer-wrapper {
  padding: 0 30px 0 30px;
}

.footer-lower-wrapper, .footer-upper-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-upper-wrapper {
  padding: 20px 0px 20px 0px;
}

.footer-lower-wrapper {
  padding: 20px 0px;
  border-top: 1px solid rgba(242, 242, 242, 0.3);
}

.footer-lower__copyright {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer-lower__link, .footer-upper__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-upper__link {
  line-height: 30px;
}

.footer-upper__email-link {
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
}

.footer-upper__col2 {
  max-width: 200px;
  width: 100%;
}

.footer-upper__col3 {
  max-width: 230px;
  width: 100%;
  position: relative;
}

.footer-upper__contact-item {
  font-family: Roboto,  sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  position: relative;
}

.footer-lower__link:hover, .footer-upper__link:hover {
  color: #FFB321;
  transition: 0.3s;
}

.footer-upper__menu-list, .footer-upper__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.footer-upper__left-menu-list, .footer-upper__right-menu-list, .footer-upper__social-list {
  list-style: none;
}

.footer-upper__header {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #B4EC50;
  padding: 20px 0px;
}

.footer-upper__email-link:before, .footer-upper__phone:before, .footer-upper__address:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 18px;
  height: 18px;
}

.footer-upper__email-link:before {
  background: url("../img/new-mail.svg");
}

.footer-upper__phone:before {
  background: url("../img/phone-handle.svg");
}

.footer-upper__address:before {
  background: url("../img/location-pin.svg");
}

@media screen and (max-width: 720px) {
  .footer-upper-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-upper__header {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .footer-lower-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-lower__links-group {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .footer-lower__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer-lower__links-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-lower__link:last-child {
    padding-top: 30px;
  }
  .footer-lower__link:first-child {
    padding-right: 0;
  }
}

.footer-upper__social-link {
  display: block;
  width: 42px;
  height: 44px;
  transition: 0.3s;
}

.footer-upper__facebook-icon {
  background-image: url("../img/facebook.png");
}

.footer-upper__behance-icon {
  background-image: url("../img/behance.png");
}

.footer-upper__linkedin-icon {
  background-image: url("../img/linkedin.png");
}

.footer-upper__facebook-icon:hover {
  background-image: url("../img/facebook-hover.png");
}

.footer-upper__behance-icon:hover {
  background-image: url("../img/behance-hover.png");
}

.footer-upper__linkedin-icon:hover {
  background-image: url("../img/linkedin-hover.png");
}

h1 {
  margin: 0;
}

.header_h1 {
  margin: 15px 0 0 0;
  padding-bottom: 30px;
}

.header_h1_wrapper {
  max-width: 1050px;
  padding: 0 30px;
  margin: 0 auto;
}

.inner-header_about-us {
  background: #313131 url("../img/about-us-bg1.jpg") no-repeat center;
  background-size: cover;
}

.inner-header_our-process {
  background: #313131 url("../img/our-process-bg1.jpg") no-repeat center;
  background-size: cover;
}

.inner-header_services {
  background: #313131 url("../img/services-bg1.jpg") no-repeat center;
  background-size: cover;
}

.our-process_why-build-website {
  background-color: #ffffff;
}

.our-process_why-build-website_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.our-process_why_list {
  list-style: none;
}

.our-process_things_list {
  list-style: none;
  display: flex;
}

.our-process_things_p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #313131;
}

.our-process_process {
  background: #313131 url("../img/our-process-bg2.jpg") no-repeat center;
  background-size: cover;
}

.our-process_process_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.our-process_line-separator {
  opacity: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.our-process_green-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #B4EC51;
}

.our-process_white-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.our-process_big-green-text {
  font-family: Verdana, sans-serif;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #B4EC51;
}

.our-process_questions_list {
  list-style: none;
}

.our-process_questions_item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #FFFFFF;
}

.our-process_button-subtext {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.services_description {
  background-color: #ffffff;
}

.services_description_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_description_text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #313131;
}

.services_line-separator {
  border: 1px solid rgba(242, 242, 242, 0.2);
}

.home_request-form_wrapper {
  background: #4b869f url("../img/Form-bg1920.jpg") no-repeat center;
  background-size: cover;
  color: #FFEC42;
}

.home_request-form {
  max-width: 1050px;
  min-height: 220px;
  height: auto;
  margin: 0 auto;
}

.home_request-form__description {
  text-align: center;
  padding-top: 28px;
}

.home_request-form__header {
  font-family: Verdana, sans-serif;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 14px;
}

.home_request-form__input-name, .home_request-form__input-email {
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  outline: none;
  border: 2px solid #FFFFFF;
  padding-left: 42px;
  padding-right: 11px;
  line-height: normal;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 233px;
  max-width: 233px;
}

.home_request-form_input-group {
  padding-top: 26px;
  display: flex;
  justify-content: center;
  max-width: 1050px;
  width: 100%;
}

.home_request-form__input-name {
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 10px;
}

.home_request-form__input-email {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: 10px;
  margin-left: 20px;
  margin-right: 30px;
}

.home_request-form__input-name:focus, .home_request-form__input-email:focus {
  border: 2px solid #B4EC51;
  outline: none;
}

.home_request-form__input-button {
  background-color: #313131;
  font-size: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 24.5px;
  padding: 8px 45px;
  border: 0;
  outline: none;
  transition: 0.3s;
}

.home_request-form__input-button:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

.home_request-form__input-button:active {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .home_request-form_input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_request-form__input-name, .home_request-form__input-email {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .home_request-form__input-button {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.home_steps {
  background: #313131 url("../img/home-steps-bg.jpg") no-repeat center;
  background-size: cover;
}

.home_steps_wrapper {
  max-width: 1050px;
  min-height: 544px;
  height: auto;
  padding: 0 30px;
  margin: 0 auto;
}

.home_steps__header {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.home_steps_3-steps-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding-bottom: 50px;
}

.home_steps__step-description {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 24px;
  padding-right: 24px;
}

.home_steps__step-number {
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 90px;
  line-height: normal;
  font-weight: 700;
  color: #FFFFFF;
  opacity: 0.4;
  margin-top: -22px;
  padding-right: 5px;
}

.home_steps_step-pic {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.home_steps_col-3, .home_steps_col-2, .home_steps_col-1 {
  border: solid 1px red;
  width: 350px;
}

.home_services {
  background-color: #ffffff;
  background-size: cover;
  z-index: 15;
}

.home_services_wrapper {
  padding: 0 30px 0 30px;
  margin: 0 auto;
  max-width: 1050px;
  min-height: 737px;
  height: auto;
}

.home_services__header {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: Verdana, sans-serif;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  font-weight: 300;
  color: #313131;
}

.home_services__header-bold {
  font-weight: 700;
}

.home_services_col-1_upper {
  margin: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 15px;
}

.home_services_col-1_lower {
  padding: 15px;
}

.home_services__list-icon {
  margin: 0 auto;
  max-width: 128px;
  height: auto;
}

.home_services_list__header {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #313131;
  margin-top: 24px;
  margin-bottom: 5px;
}

.home_services_list__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home_services_list__item:first-child {
  padding-top: 5px;
}

.home_services_list__item:last-child {
  padding-bottom: 0;
}

.home_services_list__item span {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  color: #313131;
}

.home_services_list {
  color: #B4EC51;
}

.home_services__button {
  margin: 50px auto 0;
  min-width: 152px;
  max-width: 240px;
}

.home_serices_list-wrapper {
  display: flex;
  justify-content: space-between;
}

.home_services_col-1, .home_services_col-2, .home_services_col-3 {
  box-sizing: border-box;
}

.home_services_col-1, .home_services_col-3 {
  max-width: 345px;
  width: 345px;
}

.home_services_col-2 {
  max-width: 360px;
  width: 360px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
}

.home_services_col-1_lower ul, .home_services_col-3_lower ul, .home_services_col-2 ul {
  margin-left: 35px;
}

.home_services_col-1_upper, .home_services_col-2_upper, .home_services_col-3_upper {
  margin: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 12px 15px 15px 15px;
}

.home_services_col-1_lower, .home_services_col-2_lower, .home_services_col-3_lower {
  padding: 15px 15px 0 15px;
}

@media screen and (max-width: 1110px) {
  .home_serices_list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home_services_col-3 {
    align-self: center;
    padding-top: 38px;
  }
  .home_services__button {
    margin-bottom: 100px;
  }
  .home_services_col-2 {
    border-right: 0;
    max-width: 345px;
    width: 345px;
  }
}

@media screen and (max-width: 768px) {
  .home_services_col-2 {
    align-self: center;
    padding-top: 38px;
    border-left: 0;
  }
}

.header-mobile-menu__wrapper {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #000;
  overflow-y: auto !important;
  max-width: 100%;
  max-height: 100%;
}

.show {
  display: block;
}

.header-mobile-menu {
  width: 250px;
  max-width: 100%;
  z-index: 10;
  margin-top: 45px;
  list-style: none;
}

.header-menu-toggler {
  display: none;
  background-color: transparent;
  background-image: url("../img/mobile-menu.svg");
  background-size: cover;
  border: none;
  margin: auto 0;
  height: 17px;
  width: 26px;
  outline: none;
}

.header-mobile-menu__menu-item {
  padding: 10px 10px;
  margin-left: 10px;
}

.header-mobile-menu__close-button {
  display: block;
  background-color: transparent;
  background-image: url("../img/close-cross-white.svg");
  background-size: cover;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.header_wrapper {
  padding: 0 30px 0 30px;
  margin: 0 auto;
  max-width: 1050px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1050px;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-wrapper {
  display: flex;
  margin: auto 0;
}

.header-menu {
  list-style: none;
  display: flex;
}

.splash {
  background: #4b869f url("../img/splashbg.jpg") no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.splash-wrapper {
  max-width: 1050px;
  min-height: 402px;
  height: auto;
  padding: 0 30px 0;
  margin: 0 auto;
}

.splash-content {
  margin: 0 auto;
  max-width: 1050px;
  padding-top: 64px;
}

.splash-content__description {
  font-family: Verdana, sans-serif;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #E7E7E7;
  text-shadow: 0px 40px 40px rgba(26, 11, 52, 0.5);
}

.splash-content__description-green {
  color: #B4EC51;
  font-weight: 700;
}

.header-menu__menu-item {
  padding-right: 25px;
}

.header-menu__menu-item a, .header-mobile-menu__menu-item a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}

.header-menu__menu-item a:hover, .header-mobile-menu__menu-item a:hover, .header-mobile-menu__close-button:hover {
  color: #FFB321;
}

.header__button:hover {
  background: #B4EC51;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.header-menu-toggler:hover, .header-mobile-menu__close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .header-nav-wrapper {
    display: none;
  }
  .header-menu-toggler {
    display: block;
  }
}

@media screen and (min-width: 961px) {
  .header-mobile-menu__wrapper {
    display: none !important;
  }
  body {
    overflow: auto !important;
  }
}

.home_why-st7 {
  background-color: #fff;
}

.home_why-st7_wrapper {
  max-width: 1050px;
  min-height: 663px;
  height: auto;
  padding: 0 30px;
  margin: 0 auto;
}

.home_why-st7__header {
  padding-top: 100px;
  padding-bottom: 35px;
}

.home_why-st7_content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 90px;
}

.home_why-st7_text {
  max-width: 510px;
}

.home_why-st7_text p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.home_why-st7_pic {
  max-width: 234px;
  margin: auto 0;
}

.home_why-st7__button {
  min-width: 178px;
  max-width: 260px;
  margin: 50px auto 0;
}

.services_conversion {
  background-color: #ffffff;
}

.services_conversion_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_conversion_list {
  list-style: none;
  display: flex;
}

.services_design {
  background-color: #ffffff;
}

.services_design_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_sem {
  background-color: #ffffff;
}

.services_sem_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_sales-funnel {
  background: #313131 url("../img/services-sf-bg.jpg") no-repeat center;
  background-size: cover;
}

.services_sales-funnel_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_seo1 {
  background: #313131 url("../img/services-seo-bg.jpg") no-repeat center;
  background-size: cover;
}

.services_seo1_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_seo1_item_key {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 109px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #B4EC51;
  opacity: 0.2;
}

.services_seo1_item_text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.services_seo2 {
  background-color: #ffffff;
}

.services_seo2_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_smm {
  background: #313131 url("../img/services-smm-bg.jpg") no-repeat center;
  background-size: cover;
}

.services_smm_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_technologies {
  background: #313131 url("../img/services-bg2.jpg") no-repeat center;
  background-size: cover;
}

.services_technologies_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}

.services_technologies_division {
  position: relative;
  padding-left: 23px;
}

.services_technologies_division::before {
  content: '';
  position: absolute;
  height: 7px;
  width: 7px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #B4EC51;
  box-shadow: 0 10px 15px rgba(180, 236, 80, 0.3);
  border-radius: 24.5px;
}

.services_technologies_list {
  list-style: none;
  display: flex;
}

.services_technologies_item_text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFB321;
}
