*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.splash-wrapper {
  max-width: 1050px;
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-wrapper {
  display: flex;
  margin: auto 0;
}

.header-menu {
  list-style: none;
  display: flex;
}

.splash {
  background: #4b869f url("../img/splashbg.jpg") no-repeat center;
  background-size: cover;
  height: 520px;
  color: #ffffff;
}

.splash-wrapper {
  max-width: 1200px;
  padding: 15px 30px;
  margin: 0 auto;
}

.splash-content {
  margin: 0 auto;
  max-width: 1050px;
}

.splash-content__description {
  font-family: Verdana;
  font-size: 42px;
  line-height: 80px;
  text-align: center;
  color: #E7E7E7;
  text-shadow: 0px 40px 40px rgba(26, 11, 52, 0.5);
}

.splash-content__description-green {
  color: #B4EC51;
  font-weight: 700;
}

.header-menu__menu-item {
  padding-right: 25px;
}

.header-menu__menu-item a, .header-mobile-menu__menu-item a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}

.header-menu__menu-item a:hover, .header__button:hover, .header-mobile-menu__menu-item a:hover {
  color: #FFB321;
}

.button-transparent {
  display: block;
  background-color: transparent;
  border: 1px solid #B4EC51;
  border-radius: 24px;
  box-shadow: 0px 0px 12px rgba(126, 211, 33, 0.112687);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 45px;
  margin: auto 0;
}

.header-menu-toggler {
  display: none;
  padding: 10px 15px;
  border: solid 1px #fff;
  border-radius: 5px;
  text-decoration: none;
  margin: auto 0;
}

.header-menu-toggler:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .header-nav-wrapper {
    display: none;
  }
  .header-menu-toggler {
    display: block;
  }
}

.header-mobile-menu__wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  width: 250px;
  min-width: 200px;
  z-index: 10;
}
