*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.typo-h1 {
  font-family: Verdana, sans-serif;
  font-size: 45px;
  line-height: normal;
  text-align: center;
  color: #E7E7E7;
  text-shadow: 0 40px 40px rgba(26, 11, 52, 0.5);
}

.typo-h2 {
  font-family: Verdana, sans-serif;
  font-size: 36px;
  line-height: normal;
  text-align: center;
}

.typo-h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: normal;
  color: #B4EC51;
}

.typo-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.typo_bold {
  font-weight: 500;
}

.typo_dark-color {
  color: #313131;
}

.typo_white-color {
  color: #ffffff;
}

.typo_green-color {
  color: #B4EC51;
}

.footer-lower__links-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 230px;
  width: 100%;
}

.footer-lower__link:first-child {
  padding-right: 30px;
}

.footer {
  background-color: #313131;
  background-size: cover;
}

.footer-wrapper {
  padding: 0 30px 0 30px;
}

.footer-lower-wrapper, .footer-upper-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-upper-wrapper {
  padding: 20px 0px 20px 0px;
}

.footer-lower-wrapper {
  padding: 20px 0px;
  border-top: 1px solid rgba(242, 242, 242, 0.3);
}

.footer-lower__copyright {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.footer-lower__link, .footer-upper__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-upper__link {
  line-height: 30px;
}

.footer-upper__email-link {
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  padding-left: 30px;
  margin-left: -30px;
}

.footer-upper__col2 {
  max-width: 200px;
  width: 100%;
}

.footer-upper__col3 {
  max-width: 230px;
  width: 100%;
  position: relative;
}

.footer-upper__contact-item {
  font-family: Roboto,  sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  position: relative;
}

.footer-lower__link:hover, .footer-upper__link:hover {
  color: #FFB321;
  transition: 0.3s;
}

.footer-upper__menu-list, .footer-upper__social-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.footer-upper__left-menu-list, .footer-upper__right-menu-list, .footer-upper__social-list {
  list-style: none;
}

.footer-upper__header {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #B4EC50;
  padding: 20px 0px;
}

.footer-upper__email-link:before, .footer-upper__phone:before, .footer-upper__address:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 18px;
  height: 18px;
}

.footer-upper__email-link:before {
  background: url("../img/new-mail.svg");
}

.footer-upper__phone:before {
  background: url("../img/phone-handle.svg");
}

.footer-upper__address:before {
  background: url("../img/location-pin.svg");
}

@media screen and (max-width: 720px) {
  .footer-upper-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-upper__header {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .footer-lower-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-lower__links-group {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  .footer-lower__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer-lower__links-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-lower__link:last-child {
    padding-top: 30px;
  }
  .footer-lower__link:first-child {
    padding-right: 0;
  }
}

.footer-upper__facebook-icon {
  background-color: transparent;
}

.header-mobile-menu__wrapper {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #000;
  overflow-y: auto !important;
  max-width: 100%;
  max-height: 100%;
}

.show {
  display: block;
}

.header-mobile-menu {
  width: 250px;
  max-width: 100%;
  z-index: 10;
  margin-top: 45px;
  list-style: none;
}

.header-menu-toggler {
  display: none;
  background-color: transparent;
  background-image: url("../img/mobile-menu.svg");
  background-size: cover;
  border: none;
  margin: auto 0;
  height: 17px;
  width: 26px;
  outline: none;
}

.header-mobile-menu__menu-item {
  padding: 10px 10px;
  margin-left: 10px;
}

.header-mobile-menu__close-button {
  display: block;
  background-color: transparent;
  background-image: url("../img/close-cross-white.svg");
  background-size: cover;
  border: none;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-wrapper {
  display: flex;
  margin: auto 0;
}

.header-menu {
  list-style: none;
  display: flex;
}

.splash {
  background: #4b869f url("../img/splashbg.jpg") no-repeat center;
  background-size: cover;
  min-height: 520px;
  height: auto;
  color: #ffffff;
}

.splash-wrapper {
  max-width: 1050px;
  padding: 0 30px 15px;
  margin: 0 auto;
}

.splash-content {
  margin: 0 auto;
  max-width: 1050px;
}

.splash-content__description {
  font-family: Verdana, sans-serif;
  font-size: 42px;
  line-height: 80px;
  text-align: center;
  color: #E7E7E7;
  text-shadow: 0px 40px 40px rgba(26, 11, 52, 0.5);
}

.splash-content__description-green {
  color: #B4EC51;
  font-weight: 700;
}

.header-menu__menu-item {
  padding-right: 25px;
}

.header-menu__menu-item a, .header-mobile-menu__menu-item a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  transition: 0.3s;
}

.header-menu__menu-item a:hover, .header-mobile-menu__menu-item a:hover, .header-mobile-menu__close-button:hover {
  color: #FFB321;
}

.header__button:hover {
  background: #B4EC51;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.button-transparent {
  display: block;
  background-color: transparent;
  border: 1px solid #B4EC51;
  border-radius: 24px;
  box-shadow: 0px 0px 12px rgba(126, 211, 33, 0.112687);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 45px;
  margin: auto 0;
  transition: 0.3s;
}

.header-menu-toggler:hover, .header-mobile-menu__close-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .header-nav-wrapper {
    display: none;
  }
  .header-menu-toggler {
    display: block;
  }
}

@media screen and (min-width: 961px) {
  .header-mobile-menu__wrapper {
    display: none !important;
  }
  body {
    overflow: auto !important;
  }
}

.home_services {
  background-color: #ffffff;
  background-size: cover;
}

.home_services_wrapper {
  padding: 0 30px 0 30px;
  margin: 0 auto;
  max-width: 1050px;
}

.button-gradient {
  display: block;
  background-color: transparent;
  background: linear-gradient(270deg, #429321 0%, #B4EC51 100%);
  box-shadow: 0px 10px 15px rgba(180, 236, 80, 0.3);
  border-radius: 24.5px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 45px;
  transition: left 1.5s linear 0.1s;
  max-width: 90%;
  width: 240px;
  box-sizing: border-box;
}

.button-gradient:hover {
  background: #B4EC51;
}

.home_services__button {
  margin: 0 auto;
}

.home_serices_list-wrapper {
  display: flex;
  justify-content: space-between;
}

.home_services_col-1, .home_services_col-2, .home_services_col-3 {
  max-width: 90%;
  width: 345px;
}

.home_services_col-1 {
  margin-right: 15px;
}

.home_services_col-3 {
  margin-left: 15px;
}

.home_services_col-2 {
  margin-right: 15px;
  margin-left: 15px;
}
