// -----------------------------
// dm-landscape
// -----------------------------
.about-us_dm-landscape {
  background-color: #ffffff;
}

.about-us_dm-landscape_wrapper {
  max-width: 1050px;
  padding: 100px 15px;
  margin: 0 auto;
}


// -----------------------------
// our-company
// -----------------------------
.about-us_our-company {
  background-color: #313131;

}

.about-us_our-company_wrapper {
  max-width: 1050px;
  padding: 100px 15px;
  margin: 0 auto;
}
.about-us_our-company_managing-partners-list {

}
.about-us_our-company_managing-partners-item {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: normal;
}



// -----------------------------
// our-team
// -----------------------------
.about-us_our-team {
  background-color: #ffffff;
}

.about-us_our-team_wrapper {
  max-width: 1050px;
  padding: 100px 15px;
  margin: 0 auto;
}
.about-us_our-team_head-team-list {
  list-style: none;
  display: flex;
}
.about-us_our-team_head-team-item {

}
.about-us_our-team_head-team-photo {

}
.about-us_our-team_head-team-h {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #313131;
}
.about-us_our-team_head-team-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;

  color: #313131;
}

.about-us_our-team_team-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-us_our-team_team-item {
  width: 210px;
  height: 210px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
}
.about-us_our-team_team-item_green {
  background: #B4EC51;
}

.about-us_our-team_team-item_orange {
  background: #FFB321;
}


.about-us_our-team_team-icon {

}
.about-us_our-team_team-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #313131;
}
.about-us_our-team_final-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #313131;
}
// -----------------------------
// our-services
// -----------------------------
.about-us_our-services {
  background-color: #313131;

}

.about-us_our-services_wrapper {
  max-width: 1050px;
  padding: 100px 15px;
  margin: 0 auto;
}

.about-us_our-services_2-things {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;

  color: #FFFFFF;
}

.about-us_our-services_services-list {
  list-style: none;
}

.about-us_our-services_services-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.about-us_our-services_services-item-bullet {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #B4EC51;
  padding-right: 16px;
}

.about-us_our-services_last-word {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}



// -----------------------------
// why-us
// -----------------------------
.about-us_why-us {
  background-color: #ffffff;
}

.about-us_why-us_wrapper {
  max-width: 1050px;
  padding: 100px 15px;
  margin: 0 auto;
}

.about-us_why-us_steps-list {
  list-style: none;
  display: flex;
}

.about-us_why-us_steps-item {

}

.about-us_why-us_steps-icon {

}

.about-us_why-us_steps-p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;

  color: #313131;

}



