.not-found-404 {
  background-color: #313131;
}
.not-found-404_wrapper {
  max-width: 1050px;
  padding: 100px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-404_img {

}
.not-found-404_h1 {
  font-family: Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: center;

  color: #B4EC51;
}
.not-found-404_p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}
.not-found-404_button {

}