.services_description {
  background-color: #ffffff;

}
.services_description_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
  background-image: url(../img/services_description_handshake.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.services_description_text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  text-align: center;

  color: #313131;
  padding-bottom: 30px;

  max-width: 735px;
  margin: 0 auto;
}

.services_line-separator {
  border: 1px solid rgba(242, 242, 242, 0.2);
}
