.home_services {
  background-color: #ffffff;
  background-size: cover;
  z-index: 15;
}
.home_services_wrapper {
  padding: 0 30px 0 30px;
  margin: 0 auto;
  max-width: 1050px;
  min-height: 737px;
  height: auto;

}
.home_services__header {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: Verdana, sans-serif ;
  font-size: 36px;
  line-height: normal;
  text-align: center;
  font-weight: 300;
  color: #313131;
}
.home_services__header-bold {
  font-weight: 700;
}

.home_services_col-1_upper {
  margin: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 15px;
}

.home_services_col-1_lower {
  padding: 15px;
}

.home_services__list-icon {
  margin: 0 auto;
  max-width: 128px;
  height: auto;
}

.home_services_list__header {
  display: block;
  font-family: Roboto, sans-serif ;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  color: #313131;
  margin-top: 24px;
  margin-bottom: 5px;
}
.home_services_list__item{
  padding-top: 10px;
  padding-bottom: 10px;
  //text-indent: -4px;    расстояние между буллетом и его текстом
}

.home_services_list__item:first-child {
  padding-top: 5px;
}

.home_services_list__item:last-child {
  padding-bottom: 0;
}

.home_services_list__item span{
  font-family: Roboto, sans-serif ;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  color: #313131;
}
.home_services_list{
  color: #B4EC51;

}

.home_services__button {
  margin: 50px auto 0;
}

.home_serices_list-wrapper {
  display: flex;
  justify-content: space-between;
}

.home_services_col-1, .home_services_col-2, .home_services_col-3 {
  box-sizing: border-box;
}
.home_services_col-1, .home_services_col-3 {
  max-width: 345px;
  width: 345px;
}

.home_services_col-2 {
  max-width: 360px;
  width: 360px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #F2F2F2;
}

.home_services_col-1_lower ul, .home_services_col-3_lower ul, .home_services_col-2 ul{
  margin-left: 35px;
}

.home_services_col-1_upper, .home_services_col-2_upper, .home_services_col-3_upper {
  margin: 0;
  border-bottom: 1px solid #F2F2F2;
  padding: 12px 15px 15px 15px;
}

.home_services_col-1_lower, .home_services_col-2_lower, .home_services_col-3_lower {
  padding: 15px 15px 0 15px;
}

@media screen and (max-width: 1110px) {
  .home_serices_list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home_services_col-3 {
    align-self: center;
    padding-top: 38px;
  }
  .home_services__button {
    margin-bottom: 100px;
  }
  .home_services_col-2 {
    border-right: 0;
    max-width: 345px;
    width: 345px;
  }
}

@media screen and (max-width: 768px) {
  .home_services_col-2 {
    align-self: center;
    padding-top: 38px;
    border-left: 0;
  }
}