.services_smm {
  background: #313131 url("../img/services-smm-bg.jpg") no-repeat center;
  background-size: cover;
}
.services_smm_wrapper {
  max-width: 1050px;
  padding: 100px 30px;
  margin: 0 auto;
}