.button-gradient {
  display: block;

  background: linear-gradient(90deg, #FFD230 0%, #FF9921 100%);
  box-shadow: 0 10px 15px rgba(255, 245, 0, 0.3);
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #313131;

  letter-spacing: 1px;
  text-decoration: none;
  padding: 18px 47px;
  transition: right 1.5s linear 0.5s;
  max-width: 320px;
  margin: 0 auto;
}


.button-gradient:hover {
  background: #FFD230;

}

.button-gradient:active {
  background: #FFD230;
}


.button-transparent {
  display: block;
  background-color: transparent;
  border: 1px solid #B4EC51;
  border-radius: 24.5px;
  box-shadow: 0 0 12px rgba(126, 211, 33, 0.112687);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px 45px;
  margin: auto 0;
  transition: 0.3s;
}


.button-transparent:hover {
  background: #B4EC51;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.button-transparent:active {
  background: #B4EC51;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.home_request-form__input-button {
  background-color: #313131;
  font-size: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 24.5px;
  padding: 8px 45px;
  border: 0;
  outline: none;
  transition: 0.3s;
}

.home_request-form__input-button:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

.home_request-form__input-button:active {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: #B4EC51;
  cursor: pointer;
}

.button_upper-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  text-align: center;

  color: #B4EC51;
  padding-bottom: 18px;
}
.button_lower-text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #FFFFFF;
  padding-top: 12px;
}
